server {
  listen       80;
  listen       [::]:80;
  server_name  your.domain.com another.domain.ch;

  location / {
    proxy_pass   http://traefik/;
  }
}

server {
  listen       80;
  listen       [::]:80;
  server_name  domain.com;
  
  return 301 http://your.domain.com;
}
