server {
  listen       80 ;
  server_name  "~^(?<subdomain>[^.]+)\.(?<domain>[^.]+)\.(?<ext>ch|fr|com)$";

  location /.well-known {
    proxy_pass   http://traefik;
  }

  location / {
    return 301 https://$subdomain.$domain.$ext$request_uri;
  }
}

server {
  listen       80 ;
  server_name  "~^(?<domain>[^.]+)\.(?<ext>ch|fr|com)$";

  location  /.well-known {
    proxy_pass   http://traefik;
  }

  location / {
    return 301 https://www.$domain.$ext$request_uri;
  }
}